:root {
  --background-main: #F0E5D4;

  --half-circle: #D9D9D9;
  --half-circle-border: #9BA4DE;

  --white: #FFFFFF;
  --black: #000000;

  --form-border: #D9D9D9;

  --button-center: #F8D6D7;
  --button-edge: #F3BCBE;

  --shadow:
    0 8px 20px rgba(0, 0, 0, 0.12);

  --radius-large: 42px;
  --radius-medium: 24px;
  --radius-small: 16px;

  --max-width-mobile: 430px;

  --transition: 0.25s ease;
}